.title {
    display: flex;
    align-items: center;
    color: #0679b3;
    position: relative;
    cursor: pointer;
    span {
        font-size: 12px;
        margin-left: 5px;
    }
    .arrow {
        position: absolute;
        right: 0;
    }
    .search {
        font-size: 20px;
    }
}

.input {
    height: 0;
    overflow: hidden;
    transition: 500ms;
    input {
        height: 4vh;
        width: 97%;
        border: 0;
        border-bottom: 1px solid gainsboro;
    }
    :focus {
        outline: black auto 0px;
        outline-style: hidden;
        border-bottom: 1px solid #0679b3;
    }
}

.expand-filter {
    height: 5vh;
    transition: 300ms;
}

.turn-up-arrow {
    transform: rotateX(180deg);
    transition: 500ms;
}

.turn-down-arrow {
   transform: rotateY(180deg);
   transition: 500ms;
}