<!-- TITLE FILTER -->
<div class="title" (click)="expandFilter = !expandFilter">
  <i class="material-icons search"> search </i>
  <span>Nombre de hotel</span>
  <i class="material-icons arrow" [ngClass]="{'turn-down-arrow': !expandFilter, 'turn-up-arrow': expandFilter}"> arrow_drop_down </i>
</div>

<!-- INPUT FILTER -->
<div class="input" [ngClass]="{'expand-filter': expandFilter}">
  <input placeholder="Ingrese el nombre del hotel" [(ngModel)]="hotelName" (keyup)="searchHotelByName()" >
  <div class="bottom"></div>
</div>