.container {
    height: 100%;
    width: 100%;
    padding: 2%;
    background-color: #f2f2f2;
    .filters {
        background-color: #f2f2f2;
        box-shadow: 0 1px 2px #c1c1c1;
        cursor: pointer;
        .title {
            padding: 4%;
            background-color: white;
            span {
                font-weight: bold;
                color: #5d5d5d;
            }
        }
        .title-xs {
            display: flex;
            justify-content: center;
        }
        .filter {
            padding: 4%;
            margin-top: 5px;
            background-color: white;
        }
    }
    .expand-filters {
        height: 28vh;
        transition: 300ms;
        margin-top: 10px;
        overflow-y: scroll;
    }
    .turn-up-arrow {
        color: #0679b3;
        transform: rotateX(180deg);
        transition: 500ms;
    }
    .turn-down-arrow {
        color: #0679b3;
        transform: rotateY(180deg);
        transition: 500ms;
    }
    .show-content-filters {
        height: max-content;
        transition: 500ms;
        overflow-y: scroll;
    }
    .hide-content-filters {
        height: 0;
        overflow: hidden;
        transition: 500ms;
    }
}

@media only screen and (max-width: 430px) {
    .filters {
        width: 100%;
    }
}