<!-- NAVBAR -->
<app-navbar></app-navbar>

<!-- CONTENT -->
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="20px" class="container">

	<div fxFlex="25%" fxFlex.xs="100%" class="filters">
		<div class="title" [ngClass]="{'title-xs': setDropDownFilter}" (click)="expandFilters()">
			<span>Filtros</span>
			<i *ngIf="setDropDownFilter" class="material-icons arrow" [ngClass]="{'turn-down-arrow': !expandFilter, 'turn-up-arrow': expandFilter}">
				arrow_drop_down </i>
		</div>
		<div [ngClass]="{'hide-content-filters': !expandFilter, 'show-content-filters': expandFilter}">
			<div class="filter">
				<!-- NAME FILTER COMPONENT -->
				<app-name-filter (emitName)="filterByName($event)"></app-name-filter>
			</div>
			<div class="filter">
				<!-- STARS FILTER COMPONENT -->
				<app-stars-filter (emitStars)="filterByStars($event)"></app-stars-filter>
			</div>
		</div>
	</div>

	<div *ngIf="hotels.length > 0" fxFlex="75%" fxFlex.xs="100%">
		<!-- HOTEL CARD COMPONENT -->
		<app-hotel-card *ngFor="let hotel of hotels | search:hotelNameFilter | stars:starsSelected" [hotel]="hotel"></app-hotel-card>
	</div>

	<div *ngIf="hotels.length == 0" fxFlex="75%" fxFlex.xs="100%" style="width: 100%">
		<!-- LOADERS CARD COMPONENT -->
		<app-loader-card></app-loader-card>
		<app-loader-card></app-loader-card>
		<app-loader-card></app-loader-card>
	</div>

</div>