.card {
    width: 100%;
    padding: 10px;
    height: 220px;
    background-color: white;
    box-shadow: 0 1px 2px #c1c1c1;
    margin-bottom: 20px;
    .badge {
        height: 20px;
        width: 70%;
        background-color: #f2f2f2;
        border-radius: 10px;
        margin-bottom: 15px;
        animation: flash 600ms linear infinite;
    }
    @keyframes flash {
      50% {
        opacity: 0;
      }
    }
    .container-image {
        height: 100%;
        background-color: #f2f2f2;
        border-radius: 10px;
        animation: flash 600ms linear infinite;
    }
    .info {
        padding: 0 2%;
    }
    .price {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-left: 1px dashed #d8d8d8;
    }
}

@media only screen and (max-width: 340px) {
    .card {
        flex-wrap: wrap;
        height: unset;
        .info {
            margin: 10px 0;
        }
        .container-image {
            height: 40vh;
        }
        .price {
            border-top: 1px dashed #d8d8d8;
            border-left: 0px dashed #d8d8d8;
        }
    }
}