<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx" class="card">

  <div fxFlex="35%" fxFlex.xs="100%" class="container-image">
    <div class="image-hotel"></div>
  </div>

  <div fxFlex="45%" fxFlex.xs="100%" class="info">
    <div class="badge"></div>
    <div class="badge" style="width: 30%"></div>
    <div class="badge" style="width: 50%;"></div>
  </div>

  <div fxFlex="30%" fxFlex.xs="100%" class="price">
    <div class="badge" style="width: 80%"></div>
    <div class="badge" style="width: 60%"></div>
    <div class="badge" style="width: 70%"></div>
  </div>

</div>