<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx" class="card">

  <!-- IMAGE HOTEL -->
  <div fxFlex="35%" fxFlex.xs="100%" class="container-image">
    <div class="image-hotel" [ngStyle]="{'background': (hotel.image) ? 'url(assets/images/hotels/'+ hotel.image +')' : ''}"></div>
  </div>

  <!-- INFO HOTEL -->
  <div fxFlex="45%" fxFlex.xs="100%" class="info">
    <span> {{ hotel.name }} </span>
    <div class="stars">
      <i *ngFor="let star of setStars(hotel.stars)" class="material-icons star"> star </i>
    </div>
    <div>
      <img class="amenity" *ngFor="let amenity of hotel.amenities" [src]="'assets/icons/amenities/'+ amenity +'.svg'" [matTooltip]="amenity">
    </div>
  </div>

  <!-- PRICE HOTEL -->
  <div fxFlex="30%" fxFlex.xs="100%" class="price">
    <span class="text">Precio por noche por habitacion</span>
    <span class="text-price">ARS
      <strong>{{ hotel.price }}</strong>
    </span>
    <button mat-raised-button color="primary">Ver hotel</button>
  </div>

</div>