.card {
    width: 100%;
    padding: 10px;
    height: 220px;
    background-color: white;
    box-shadow: 0 1px 2px #c1c1c1;
    margin-bottom: 20px;
    .container-image {
        height: 100%;
        .image-hotel {
            width: 100%;
            height: 100%;
            background-size: cover !important;
            background-repeat: no-repeat !important;
        }
    }
    .info {
        padding: 0 2%;
        span {
            font-weight: bold;
            font-size: 14px;
            color: #0679b3;
        }
        .stars {
            display: flex;
            margin: 5px 0;
            color: #ffbb01;
        }
        .amenity {
            width: 15px;
            margin: 5px;
        }
    }
    .price {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-left: 1px dashed #d8d8d8;
        .text {
            text-align: center;
            font-size: 12px;
            width: 60%;
            color: grey;
            margin: 5px;
        }
        .text-price {
            color: #ff8201;
            font-size: 1.3em;
            margin: 5px;
            strong {
                font-size: 1.4em;
            }
        }
        button {
            margin: 5px;
            width: 70%;
        }
    }
}

@media only screen and (max-width: 430px) {
    .card {
        flex-wrap: wrap;
        height: unset;
        .info {
            margin: 10px 0;
        }
        .container-image {
            height: 40vh;
        }
        .price {
            border-top: 1px dashed #d8d8d8;
            border-left: 0px dashed #d8d8d8;
        }
    }
}