.title {
    display: flex;
    align-items: center;
    color: #0679b3;
    position: relative;
    cursor: pointer;
    span {
        font-size: 12px;
        margin-left: 5px;
    }
    .arrow {
        position: absolute;
        right: 0;
    }
    .star {
        font-size: 20px;
    }
}

.stars {
    height: 0;
    overflow: hidden;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    .checkbox {
        margin: 2% 0;
        .content-stars {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .star {
            color: #ffbb00;
            font-size: 3vh;
        }
    }
}

.expand-filter {
    height: 28vh;
    transition: 300ms;
    margin-top: 10px;
    overflow-y: scroll;
}

.turn-up-arrow {
    transform: rotateX(180deg);
    transition: 500ms;
}

.turn-down-arrow {
    transform: rotateY(180deg);
    transition: 500ms;
}