<!-- TITLE FILTER -->
<div class="title" (click)="expandFilter = !expandFilter">
  <i class="material-icons star"> star </i>
  <span>Estrellas</span>
  <i class="material-icons arrow" [ngClass]="{'turn-down-arrow': !expandFilter, 'turn-up-arrow': expandFilter}"> arrow_drop_down </i>
</div>

<!-- STARS FILTER -->
<div class="stars" [ngClass]="{'expand-filter': expandFilter}">
  <mat-checkbox *ngFor="let stars of filterStars" class="checkbox" [(ngModel)]="stars.check" (change)="setFilterStars($event, stars)">
    {{ (!stars.howManyStars) ? stars.name : '' }}
    <div *ngIf="stars.howManyStars" style="display: flex; justify-content: flex-start; align-items: flex-start;">
      <i *ngFor="let a of stars.howManyStars" class="material-icons star"> star </i>
    </div>
  </mat-checkbox>
</div>