@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-blue, 900);
$accent: mat-palette($mat-orange);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);